@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cubic-11';
  src: url('/assets/Cubic_11_1.200_R.woff') format('woff'), url('/assets/Cubic_11_1.200_R.woff2') format('woff2');
}

:root {
  font-family: 'Cubic-11', monospace;
  color-scheme: dark;
  color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
::-webkit-scrollbar-track {
  background-color: #212121;
}

.ansi-black {
  color: #333333;
}
.ansi-red {
  color: #e47474;
}
.ansi-green {
  color: #66b395;
}
.ansi-yellow {
  color: #e2c97e;
}
.ansi-blue {
  color: #7098d4;
}
.ansi-magenta {
  color: #b290ba;
}
.ansi-cyan {
  color: #6ab8c0;
}
.ansi-white {
  color: #dddddd;
}

@keyframes loadingTextBarAnim {
  0% {
    content: "******************************";
  }
  3.125% {
    content: " *****************************";
  }
  6.25% {
    content: "* ****************************";
  }
  9.375% {
    content: "** ***************************";
  }
  12.5% {
    content: "*** **************************";
  }
  15.625% {
    content: "**** *************************";
  }
  18.75% {
    content: "***** ************************";
  }
  21.875% {
    content: "****** ***********************";
  }
  25% {
    content: "******* **********************";
  }
  28.125% {
    content: "******** *********************";
  }
  31.25% {
    content: "********* ********************";
  }
  34.375% {
    content: "********** *******************";
  }
  37.5% {
    content: "*********** ******************";
  }
  40.625% {
    content: "************ *****************";
  }
  43.75% {
    content: "************* ****************";
  }
  46.875% {
    content: "************** ***************";
  }
  50% {
    content: "*************** **************";
  }
  53.125% {
    content: "**************** *************";
  }
  56.25% {
    content: "***************** ************";
  }
  59.375% {
    content: "****************** ***********";
  }
  62.5% {
    content: "******************* **********";
  }
  65.625% {
    content: "******************** *********";
  }
  68.75% {
    content: "********************* ********";
  }
  71.875% {
    content: "********************** *******";
  }
  75% {
    content: "*********************** ******";
  }
  78.125% {
    content: "************************ *****";
  }
  81.25% {
    content: "************************* ****";
  }
  84.375% {
    content: "************************** ***";
  }
  87.5% {
    content: "*************************** **";
  }
  90.625% {
    content: "**************************** *";
  }
  93.75% {
    content: "***************************** ";
  }
  100% {
    content: "******************************";
  }
}

.text-loading:after {
  content: '';
  animation: loadingTextBarAnim 8s linear infinite;
}